<%= form_for(@portfolio) do |f| %>
  <% if @portfolio.errors.any? %>
    <div id="error_explanation" xmlns="http://www.w3.org/1999/html">
      <h3><%= pluralize(@portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h3>
      <% @portfolio.errors.full_messages.each do |msg| %>
        <span class="label label-important"><%= msg %></span>
      <% end %>
    </div>
    </br>
  <% end %>

  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
