<div class='container-16'>
  <div class="portfolio-head">
    <div class="short-divide"></div>
    <div class="portfolio-name">
      <%= @portfolio.name %>
    </div>
    <div class="long-divide"></div>
  </div>
  <div class="album-list">
    <div class="album-records">
      <% @albums.each do |album| %>
      <div class="album-record">
        <%= link_to image_tag(album.cover.cover_thumbnail_url), home_album_path(album) %>
      </div>
      <% end %>
    </div>
    <div class="album-paging">
    </div>
  </div>

</div>

<script type="text/javascript">
    var NANC = NANC || {};
    NANC.pageCount = <%= @page_count %>;
    NANC.currentPage = <%= @current_page %>;
    NANC.currentPortfolioId = <%= @portfolio.id %>;
</script>