<%= form_for(@album) do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@album.errors.count, "error") %> prohibited this portfolio from being saved:</h3>
      <% @album.errors.full_messages.each do |msg| %>
        <span class="label label-important"><%= msg %></span>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :portfolio %><br />
    <%= f.select :portfolio_id, Portfolio.select_options, :selected => params[:portfolio_id] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
