<p id="notice"><%= notice %></p>

<p>
  <b>name:</b>
  <%= @album.name %>
</p>

<p>
  <b>Portfolio:</b>
  <%= @album.portfolio %>
</p>

<div class="container">
  <!-- The file upload form used as target for the file upload widget -->
  <form id="fileupload" action="/album/<%= @album.id %>/upload_photo" method="POST" enctype="multipart/form-data">
    <%= render 'generic/image_upload_form' %>
  </form>
</div>

<%= render 'generic/image_upload_template' %>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
