<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @photo.name %>
</p>

<p>
  <b>Filename:</b>
  <%= @photo.filename %>
</p>

<p>
  <b>Desc:</b>
  <%= @photo.desc %>
</p>

<p>
  <b>Created At:</b>
  <%= @photo.created_at %>
</p>

<p>
  <b>Filepath:</b>
  <%= @photo.filepath %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
