<p id="notice"><%= notice %></p>

<%= image_tag @photo.image.url %>
<%= image_tag @photo.image.url(:medium) %>
<%= image_tag @photo.image.url(:thumb) %>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
