<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Nanc's Gallery</title>
    <meta name="description" content="NanC Gallery">
    <meta name="author" content="Sean Lionheart">
    <meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1">
    <%= stylesheet_link_tag :application %>
    <%= stylesheet_link_tag :home %>
    <%= stylesheet_link_tag "768/custom_small", 'media' => 'screen and (min-width: 768px)' %>
    <%= stylesheet_link_tag "1024/custom_medium", 'media' => 'screen and (min-width: 1025px)' %>
    <%= stylesheet_link_tag "galleria/galleria.classic" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <header>
      <div class="banner">
        <%= link_to "", root_path %>
      </div>
        <nav>
          <ul>
            <li><%= link_to "", root_path, :class => "home-link"%></li>
            <li id="portfolio-li"><%= link_to "", root_path, :class => "portfolio-link"%>
              <% unless @portfolios == nil %>
                <ul id="portfolio-menu" class="hidden">
                <% for portfolio in @portfolios %>
                  <li class=""><%= link_to portfolio.name, home_portfolio_path(portfolio.id) %></li>
                <% end %>
              </ul>
              <% end %>
            </li>
            <li><%= link_to "", root_path, :class => "blog-link"%></li>
            <li><%= link_to "", root_path, :class => "contact-link"%></li>
            <li><%= link_to "", root_path, :class => "about-link"%></li>
          </ul>
        </nav>
    </header>
    <div class="container-16">
      <%= yield %>
    </div>
    <div class="container">
      <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
      <% end %>
    </div>
    <%= javascript_include_tag :jquery %>
    <%= javascript_include_tag :application%>
    <%= javascript_include_tag "galleria/galleria.classic.js" %>

  </body>
</html>

